body{
    font-family: 'Montserrat-Black', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.3;
}
#title{
    background-color: #ff4c68;
    color: white;
}
.container-fluid{
    padding: 3% 15%;
}

/* Navigation bar */
.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding:0 18px;
}
.nav-link{
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 1.2rem;
}

/* Download Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features Section*/
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    /* z-index: 1; */
}
.feature-box{
    text-align: center;
    padding: 4.5%;
}
h3{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}
.feature-icon{
    color: #ef8171;
    margin-bottom: 1rem;
    padding-left: 0;
}
.feature-icon:hover{
    color: #ff4c68;
}
.feature-box p{
    font-family: 'Montserrat-Light', sans-serif;
    color:#8f8f8f;
}



/* Testimonials Section */

#testimonials{
    text-align: center;
    color: white;
    background-color: #ef8171;
   
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}
.testimonials-image{
    margin: 20px;
    border-radius: 100%;
    width: 10%;
}
.carousel-item{
    padding: 7% 15%;
}


/* Press Section */

#press{
    background-color: #ef8171;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
    padding:100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

/* Call to Action */

#cta{
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding: 7% 15%;
}

#cta h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 1.5;
    margin-bottom: 5%;
}
/* .cta-button{

} */


/* Footer Section */

#footer{
    text-align: center;
    padding: 7% 15%;
}
#footer p{
    color: #8f8f8f;
    font-weight: lighter;
    padding-top: 10px;
}
#footer i{
    margin: 20px 10px;
}




/* Media Queries */
@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        transform: rotate(0);
        position: static;
    }
}